{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block header %}Профиль пользователя{% endblock %}
{% block content %}
{% load user_filters %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    {% include "includes/author.html" %}
            </div>

            <div class="col-md-9">

                <!-- Начало блока с отдельным постом -->
                {% for post in page %}
                    {% include "includes/profilepost.html" %}
                {% endfor %}
                <!-- Конец блока с отдельным постом -->
      {% include "includes/paginator.html" %}
{% endblock %}
     </div>
    </div>
</main>